<div class="container menutop-fix myContainer">
    <div class="row myRow">
        <div class="col-md-3 profile">
            <div class="avatar">
                <img [src]="imgSrc"
                     onerror="this.src='/assets/icons/fa/fas-fa-user-circle-mod.svg'"
                     alt="{{usuario?.nombre}}, {{usuario?.apellido}}"
                     class="img-raised"/>
                <div class="caption btn-floating-container" (click)="profilePictureFile.click()" *ngIf="active === 'navprofile'">
                    <p>
                        <a class="btn-floating btn-success"><i class="fas" [ngClass]="{ 'fa-plus': !usuario.foto, 'fa-pen': usuario.foto }"></i></a>
                    </p>
                </div>
            </div>
            <!-- ================== Picture ================== -->
            <div class="form-row" style="display:none;">
                <span>Foto de perfil</span>
                <div class="custom-file mb-3">
                    <input type="file" class="custom-file-input" #profilePictureFile (change)="selectFile($event)" accept=".jpg">
                    <label class="custom-file-label" id="lblProfilePictureFile" for="profilePictureFile">{{fileName}}</label>
                </div>
            </div>
            <!-- ================== Picture ================== -->
            <div class="info">
                <div class="rate" *ngIf="!isAlumno">
                    <ng-template #t let-fill="fill">
                      <span class="star" [class.full]="fill === 100">
                        <span class="half" [style.width.%]="fill">&#9733;</span>&#9733;
                      </span>
                    </ng-template>

                    <ngb-rating [(rate)]="usuario.calificacion" [starTemplate]="t" [readonly]="true" [max]="5"></ngb-rating>
                </div>
                <h3>Bienvenido!!!</h3>
                <h4>{{usuario.nombreApellido}}</h4>
                <span>{{isAlumno? 'Alumno' : 'Profesor'}}</span>
                <span *ngIf="usuario.descripcion">{{usuario.descripcion}}</span>

            </div>
            <hr style="margin-top: 30px">
            <div class="d-flex">
                <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-pills" orientation="vertical">
                    <li ngbNavItem="navprofile" *ngIf="usuario">
                        <a ngbNavLink><i class="fas fa-user-circle"></i> Mi Perfil</a>
                        <ng-template ngbNavContent>
                            <app-usuario-perfil-edit [parentGroup]="usuarioForm" (cambiarPassword)="active='navpwd'"></app-usuario-perfil-edit>
                        </ng-template>
                    </li>
                    <li ngbNavItem="navclases">
                        <a ngbNavLink><i class="fas fa-chalkboard-teacher"></i> Mis Clases</a>
                        <ng-template ngbNavContent>
                            <app-usuario-perfil-clases (detalleClase)="goDetalleClase($event)"></app-usuario-perfil-clases>
                        </ng-template>
                    </li>
                    <li ngbNavItem="navcalificaciones">
                        <a ngbNavLink><i class="fas fa-award"></i> Mis Calificaciones</a>
                        <ng-template ngbNavContent>
                            <app-usuario-calificaciones></app-usuario-calificaciones>
                        </ng-template>
                    </li>
                    <li ngbNavItem="navpreguntas" *ngIf="!isAlumno">
                        <a ngbNavLink><i class="fas fa-question"></i> Mis Preguntas</a>
                        <ng-template ngbNavContent>
                            <app-preguntas></app-preguntas>
                        </ng-template>
                    </li>
                    <li ngbNavItem="navpwd">
                        <a #chgPwd ngbNavLink style="display:none;"></a>
                        <ng-template ngbNavContent>
                            <app-pwd-change [perfil]="true" (goBack)="active='navprofile'"></app-pwd-change>
                        </ng-template>
                    </li>
                    <li ngbNavItem="navdetalleclase">
                        <a #claseDetalle ngbNavLink style="display:none;"></a>
                        <ng-template ngbNavContent>
                            <app-clase-detalle [clase]="clase" (goBack)="setNav($event)"></app-clase-detalle>
                        </ng-template>
                    </li>
                    <li ngbNavItem="navclasealumnos">
                        <a #claseAlumnos ngbNavLink style="display:none;"></a>
                        <ng-template ngbNavContent>
                            <app-clase-alumnos [clase]="clase" (goBack)="setNav($event)"></app-clase-alumnos>
                        </ng-template>
                    </li>
                </ul>
            </div>
        </div>

        <div class="col-md-9 myCol">
            <div [ngbNavOutlet]="nav"></div>
        </div>

    </div>


</div> <!--/container-->
