<div class="container menutop-fix myContainer">
    <div class="row myRow">
        <div class="col-md-3 profile">
            <div class="avatar">
                <img src="{{usuario.foto}}" alt="{{usuario.nombre}}, {{usuario.apellido}}" class="img-raised"/>
            </div>
            <div class="info">
                <div class="rate" *ngIf="usuario.calificacion">
                    <ngb-rating [(rate)]="usuario.calificacion">
                        <ng-template let-fill="fill" let-index="index">
                            <span class="star" [class.filled]="fill === 100" [class.bad]="index < 3">&#9733;</span>
                        </ng-template>
                    </ngb-rating>
                </div>
                <h3>Bienvenido!!!</h3>
                <h4>{{usuario.nombre}}, {{usuario.apellido}}</h4>
                <span>{{isAlumno? 'Alumno' : 'Profesor'}}</span>
                <span *ngIf="usuario.descripcion">{{usuario.descripcion}}</span>

            </div>
            <hr style="margin-top: 30px">
            <div class="d-flex">
                <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-pills" orientation="vertical">
                    <li ngbNavItem="navprofile">
                        <a ngbNavLink><i class="fas fa-user-circle"></i> Mi Perfil</a>
                        <ng-template ngbNavContent>
                            <app-usuario-perfil-edit (cambiarPassword)="active='navpwd'"></app-usuario-perfil-edit>
                        </ng-template>
                    </li>
                    <li ngbNavItem="navclases">
                        <a ngbNavLink><i class="fas fa-chalkboard-teacher"></i> Mis Clases</a>
                        <ng-template ngbNavContent>
                            <app-usuario-perfil-clases></app-usuario-perfil-clases>
                        </ng-template>
                    </li>
                    <li ngbNavItem="navcalificaciones">
                        <a ngbNavLink><i class="fas fa-award"></i> Mis Calificaciones</a>
                        <ng-template ngbNavContent>
                            <app-usuario-calificaciones></app-usuario-calificaciones>
                        </ng-template>
                    </li>
                    <li ngbNavItem="navpwd">
                        <a #chgPwd ngbNavLink style="display:none;"></a>
                        <ng-template ngbNavContent>
                            <app-pwd-change (goBack)="active='navprofile'"></app-pwd-change>
                        </ng-template>
                    </li>
                </ul>
            </div>
        </div>

        <div class="col-md-9 myCol">
            <div [ngbNavOutlet]="nav"></div>
        </div>

    </div>


</div> <!--/container-->
