<div id="fh4co-work-section">
	<div class="container animate-box" >
		<div class="row text-center">
			<div class="nosotros">
				<b>Sobre nosotros</b>
			</div>
		</div>
		<div class="row">
            <div class="col-md-6">
                <img [src]="image" alt="contacto" class="contacto-img">
            </div>
            <div class="col-md-6">
                <div class="feature-left animate-box fadeInLeft animated" data-animate-effect="fadeInLeft" *ngFor="let nosotros of sobreNosotros">
					<span class="icon">
						<i class="fa fa-check"></i>
					</span>
					<div class="feature-copy">
						<h3>{{nosotros.nombre}}</h3>
						<p>{{nosotros.descripcion}}</p>
					</div>
				</div>
            </div>

		</div>
	</div>
</div>