<div id="fh4co-work-section">
	<div class="container animate-box" >
		<div class="row text-center">
			<div class="contacto">
				<b>Contactate con nosotros</b>
			</div>
		</div>
		<div class="row">
            <div class="col-md-6">
                <img [src]="image" alt="contacto" class="contacto-img">
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="nom">Nombre:</label>
                    <input type="text" placeholder="Nombre" class="form-control" id="nom">
                  </div>
                  <div class="form-group">
                    <label for="tel">Teléfono:</label>
                    <input type="text" placeholder="Telefono. Ej.: 11 1234-5678" class="form-control" id="tel">
                  </div>
                  <div class="form-group">
                    <label for="eml">Email:</label>
                    <input type="email" placeholder="Correo Electronico" class="form-control" id="eml">
                  </div>
                  <div class="form-group">
                    <label for="con">Consulta:</label>
                    <textarea class="form-control" placeholder="Escribi tu consulta..." id="con" rows="3"></textarea>
                </div>

                  <button type="submit" class="btn btn-success" style="width: 100%;">Enviar consulta</button>
            </div>

		</div>
	</div>
</div>