.picsum-img-wrapper {
	height: 100vh;
	min-height: 350px;
	background: no-repeat center center scroll;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	outline: none;
}

.picsum-img-wrapper:focus { border: none; outline: none;}
.picsum-img-wrapper:active { border: none; outline: none;}

.carousel-caption {
	@media (max-width:530px){

		h1,.h1{
			font-size:24px !important;
		}
		h3,.h3{
			font-size:22px !important;
		}
		h4,.h4{
			font-size:18px !important;
		}
		h5,.h5{
			font-size:16px !important;
		}
		h6,.h6{
			font-size:16px !important;
		}
		button {
			margin-top: 5px;
		}
	}

	::ng-deep ngb-highlight {
		white-space: normal;
		z-index: 9999;
	}

	::ng-deep ngb-typeahead-window {
		overflow-y: auto;
		max-height: 150px;
	}

	.content-slider {
		padding: 10px;
	}
	// top: 15%;
	// left: 6%;
	// display: block;
	max-width: 70%;
	background-color: rgba(17, 17, 17, 0.75);
	max-height: 300px;

	h3 {
		font-size: 72px;
		font-weight: bold;
		letter-spacing: 1.3px;
		color: #67ce68;
		//text-shadow:  0 0 5px rgba(230, 230, 230, 0.3);
	}
	p {
		font-size: 24px;
	}
	button {
		font-size: 24px;
		border: 0;
		padding: 5px 30px;
		background-color: #3b933d;
		color: #d0d0d0;
	}

}

#txtBuscar {
    position: relative;
    //top: -1px;
    max-width: 500px;
    display: inline;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}

.modal-portal {
	max-width: 85%;
	width: auto !important;
	display: inline-block;
}
#myModal {
	text-align: center;
	height: 100vh;
}


