.control-label.required:after {
    color: #d00;
    content: "*";
    position: absolute;
    margin-left: 5px;
    top:2px;
  }
  .error-msg {
    color: #a94442;
  }
  .fix-error-icon {
    top: 20px;
  }

  .hoverme {
      color: #0E4675;
      :hover {
          color: #0e558c;
          cursor: pointer;
      }
  }
