<div class="container registro">

	<div class="row justify-content-center">
		<div class="col-lg-7 col-md-10 col-sm-12">
			<div class="card">
				<header class="card-header">
<!--					<a href="" class="float-right btn btn-outline-primary mt-1">Log in</a>-->
					<h4 class="card-title mt-2">Registrarse</h4>
				</header>
				<article class="card-body">
					<form autocomplete="off">
						<div class="form-row">
							<div class="col">
								<label for="txtNombre">Nombre</label>
								<div class="input-group mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text"> <i class="fas fa-user"></i> </span>
									</div>
									<input id="txtNombre" type="text" class="form-control" placeholder="John">
								</div>
							</div>

							<div class="col">
								<label for="txtApellido">Apellido</label>
								<div class="input-group mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text"> <i class="far fa-user"></i> </span>
									</div>
									<input id="txtApellido" type="text" class="form-control" placeholder="Doe">
								</div>
							</div>
						</div>
						<div class="form-row">
							<div class="col">
								<label for="txtUser">Nombre de Usuario</label>
								<div class="input-group mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text"> <i class="fas fa-user-circle"></i> </span>
									</div>
									<input id="txtUser" type="text" class="form-control" placeholder="johndoe2020">
								</div>
							</div>
							<div class="col">
								<label for="txtDni">DNI</label>
								<div class="input-group mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text"> <i class="fas fa-fingerprint"></i> </span>
									</div>
									<input id="txtDni" type="text" class="form-control" placeholder="87654321">
								</div>
							</div>
						</div>

						<!-- ================== Password ================== -->
						<div class="form-row">
							<div class="col">
								<label for="txtPassword">Contraseña</label>
								<div class="input-group mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text"> <i class="fas fa-lock"></i> </span>
									</div>
									<input id="txtPassword" type="password" class="form-control" placeholder="" autocomplete="off">
								</div>
							</div>
							<div class="col">
								<label for="txtPasswordConfirm">Repetir contraseña</label>
								<div class="input-group mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text"> <i class="fas fa-lock-open"></i> </span>
									</div>
									<input id="txtPasswordConfirm" type="password" class="form-control" placeholder="" autocomplete="off">
								</div>
							</div>
						</div>

						<!-- ================== eMail ================== -->
						<label for="txtEmail">eMail</label>
						<div class="input-group mb-3">
							<div class="input-group-prepend">
								<span class="input-group-text"> <i class="fas fa-envelope"></i> </span>
							</div>
							<input id="txtEmail" type="email" class="form-control" placeholder="usuario@dominio.com">
						</div>
						<label for="txtEmailConfirm">Repetir eMail</label>
						<div class="input-group">
							<div class="input-group-prepend">
								<span class="input-group-text"> <i class="far fa-envelope"></i> </span>
							</div>
							<input id="txtEmailConfirm" type="email" class="form-control" placeholder="">
						</div>
						<small class="form-text text-muted">No comrpatiremos tu email con nadie.</small>

						<!-- ================== Teléfonos ================== -->
						<div class="form-row my-3">
							<div class="col">
								<label for="txtCellphone">Número de Teléfono (Celular)</label>
								<div class="input-group mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text"> <i class="fas fa-mobile-alt"></i> </span>
									</div>
									<input id="txtCellphone" type="text" class="form-control" placeholder=" ">
								</div>
							</div>
							<div class="col">
								<label for="txtPhone">Número de Teléfono (Fijo)</label>
								<div class="input-group mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text"> <i class="fas fa-phone-alt"></i> </span>
									</div>
									<input id="txtPhone" type="text" class="form-control" placeholder=" ">
								</div>
							</div>
						</div>

<!--	====================== Genero ====================== -->
<!--						<div class="form-group">-->
<!--							<label class="form-check form-check-inline">-->
<!--								<input class="form-check-input" type="radio" name="optGender" value="option1">-->
<!--								<span class="form-check-label"> Hombre</span>-->
<!--							</label>-->
<!--							<label class="form-check form-check-inline">-->
<!--								<input class="form-check-input" type="radio" name="optGender" value="option2">-->
<!--								<span class="form-check-label"> Mujer</span>-->
<!--							</label>-->
<!--						</div> -->
<!--	====================== Fin Genero ====================== -->
						<div class="form-group">
							<button type="submit" class="btn btn-primary btn-block"> Registrarse  </button>
						</div> <!-- form-group// -->
						<small class="text-muted">Al registrarse, esta confimando de que usted acepta los terminos y condiciones de la politica de privacidad.</small>
					</form>
				</article> <!-- card-body end .// -->
<!--				<div class="border-top card-body text-center">Have an account? <a href="">Log In</a></div>-->
			</div> <!-- card.// -->
		</div> <!-- col.//-->

	</div> <!-- row.//-->

</div> <!-- /container -->
