<!--------------- FOOTER ---------------->
<div style="display: block; height: 30px;"></div>

<footer id="fh5co-footer" role="contentinfo">
<!--    <div class="container">-->
        <div class="row ml-1">
            <div class="col-md-3 col-sm-12 col-sm-push-0 col-xs-12 col-xs-push-0 ">
                <div><img class="logo_footer_size h768" style="padding-bottom: 0;" width="160"
                          src="/assets/images/index.jpeg" alt="logo"/></div>
            </div>
            <div class="col-md-3 col-sm-12 col-sm-push-0 col-xs-12 col-xs-push-0 ">
                <div class="container-phone">
                    <div class="col-fo-1 tel"><i class="fas fa-phone-alt"></i> (011) 1234-5678</div>
                    <div class="col-fo-2">Líneas Telefónicas Rotativas.<br>Lunes a Viernes de 10:00 a 18:00</div>
                </div>
            </div>
            <div class="col-md-3 col-sm-12 col-sm-push-0 col-xs-12 col-xs-push-0 ">
                <div class="float">
                    <ul>
                        <li><a href="#" routerLink="/faq">Preguntas Frecuentes</a></li>
                        <li><a href="#" routerLink="/legales/politica">Políticas de Privacidad</a></li>
                        <li><a href="#" routerLink="/legales/terminos">Términos y Condiciones</a></li>
                    </ul>
                    <ul class="fh5co-social">
                        <li><a href="#"><i class="icon-twitter"></i></a></li>
                        <li><a href="#"><i class="icon-facebook"></i></a></li>
                        <li><a href="#"><i class="icon-google-plus"></i></a></li>
                        <li><a href="#"><i class="icon-instagram"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
<!--    </div>-->

    <div class="sub-footer">
<!--        <div class="container">-->
            <div class="c-line">© 2020 ProfeParticular. Todos los derechos reservados. Diseñado por
                <a href="https://www.avaco.com.ar" target="blank_">Avaco Sistemas</a>.
                <!--<div class="copy-link">
                    <a class="link-text" href="#">Políticas de Privacidad</a>
                    <a class="link-text" href="#">Términos y Condiciones</a>
                </div>-->
            </div>
<!--        </div>-->
    </div>
</footer>



<!--------------- END FOOTER ---------------->
