<div class="container products menutop-fix">
	<div class="row">
		<div class="col-lg-12">
			<div class="m-x-auto m-y-2 text-xs-center">
				<h1>Búsqueda de profesores</h1>
				<div style="display: flex;"><h4>Nivel: </h4><h4 style="margin-left: 10px;"><i>{{nivelSeleccionado}}</i></h4></div>
				<h6>{{getProfesores.length}} resultados</h6>
			</div>
			<div class="container">
				<div class="menu row">
					<div class="product col-md-4 p-t-2">
						<hr>
						<h4>Ordenar</h4>
						<div class="form-group">
							<select [(ngModel)]="orderId"
									class="form-control custom-select"
									id="exampleFormControlSelect1"
									(change)="onChangeOrdenar()">
								<option value="RELEVANTE" class="active">Más relevantes</option>
								<option value="MENOR_PRECIO">Menor precio</option>
								<option value="MAYOR_PRECIO">Mayor precio</option>
							</select>
						</div >
						<h4>Nivel</h4>
						<div class="form-group">
							<select [(ngModel)]="selLevId"
                                    class="form-control custom-select"
									*ngIf="this.nivelesEducativos"
									(change)="onChangeNivel()">
                                    <option *ngFor="let lev of this.nivelesEducativos" [ngValue]="lev.id">{{lev.descripcion}}</option>
                            </select>
						</div >
						<hr>
						<h4>Materias</h4>
						<div class="filtros">
                            <div class="custom-control custom-radio" *ngFor="let materia of this.materias">
                                <input type="radio"
                                       id="mat{{materia.id}}"
                                       name="customRadio"
                                       class="custom-control-input"
                                       [checked]="materia.id == selMatId"
                                       (click)="selecciono(materia.id)" />
                                <label for="mat{{materia.id}}"
                                       class="custom-control-label">{{materia.nombre}}
                                </label>
                            </div>
						</div>

					</div>
					<div class="col-md-8">
						<div class="products row">
							<div class="col-lg-6 product menu-category" *ngFor="let profesor of getProfesores">
								<div class="card card-block m-t-2">
									<div class="product-image m-y-1" [routerLink]="['/profesor/', profesor.id]" >
										<img class="img-fluid" src="{{profesor.foto}}" alt="{{profesor.nombreApellido}}" />
									</div>
									<div class="profesor">
										<h5>{{profesor.nombreApellido}}</h5>
                                        <button [routerLink]="['/profesor/agenda/', profesor.id]" class="btn btn-success">Ver clases</button>
									</div>
									<h6>{{profesor.materias}}</h6>
									<div class="valor-curso" *ngIf="profesor.valorHora">
										Valor curso: $ <span>{{profesor.valorHora}}</span>
									</div>
									<!-- Vino sin costo-->
									<div class="valor-curso" *ngIf="!profesor.valorHora">
										Valor curso: <span>-</span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--/row-->
		</div>
	</div>
</div>

