<div class="container products menutop-fix">
	<div class="row">
		<div class="col-lg-12">
			<div class="m-x-auto m-y-2 text-xs-center">
				<h1>Búsqueda de profesores</h1>
				<div style="display: flex;"><h4>Nivel: </h4><h4 style="margin-left: 10px;"><i>{{nivel}}</i></h4></div>
				<h6>{{getProfesores.length}} resultados</h6>
			</div>
			<div class="container">
				<div class="menu row">
					<div class="product col-md-4 p-t-2">
						<hr>
						<h4>Ordenar</h4>
						<div class="form-group">
							<select class="form-control custom-select" id="exampleFormControlSelect1">
								<option class="active">Más relevantes</option>
								<option>Menor precio</option>
								<option>Mayor precio</option>
							</select>

<!--							<div class="btn-group btn-group-toggle" ngbRadioGroup name="radioBasic">-->
<!--								<label ngbButtonLabel class="btn-info active">-->
<!--									<input ngbButton type="radio" value="relevante"> Más relevantes-->
<!--								</label>-->
<!--								<label ngbButtonLabel class="btn-info">-->
<!--									<input ngbButton type="radio" value="menor"> Menor Precio-->
<!--								</label>-->
<!--								<label ngbButtonLabel class="btn-info">-->
<!--									<input ngbButton type="radio" value="mayor"> Mayor precio-->
<!--								</label>-->
<!--							</div>-->
						</div >
						<h4>Nivel</h4>
						<div class="form-group">
							<select [(ngModel)]="nivel" class="form-control custom-select" id="exampleFormControlSelect2">
								<option value="Educación Primaria - Primer Ciclo">Educación Primaria - Primer Ciclo</option>
								<option value="Educación Primaria - Segundo Ciclo">Educación Primaria - Segundo Ciclo</option>
								<option value="Educación Secundaria - Ciclo Básico">Educación Secundaria - Ciclo Básico</option>
								<option value="Educación Secundaria - Ciclo Orientado">Educación Secundaria - Ciclo Orientado</option>
								<option value="Educación Superior - Terciario o Universitario">Educación Superior - Terciario o Universitario</option>
								<option value="Extracurricular - Otros intereses">Extracurricular - Otros intereses</option>
							</select>
						</div >
						<hr>
						<h4>Materias</h4>
						<div class="filtros">
								<div class="custom-control custom-radio">
									<input (click)="selecciono('Historia del arte')" type="radio" id="customRadio1" name="customRadio" class="custom-control-input">
									<label class="custom-control-label" for="customRadio1">Historia del arte</label>
								</div>
								<div class="custom-control custom-radio">
									<input (click)="selecciono('Matemáticas')" type="radio" id="customRadio2" name="customRadio" class="custom-control-input">
									<label class="custom-control-label" for="customRadio2">Matemáticas</label>
								</div>
								<div class="custom-control custom-radio">
									<input (click)="selecciono('Física')" type="radio" id="customRadio3" name="customRadio" class="custom-control-input">
									<label class="custom-control-label" for="customRadio3">Física</label>
								</div>
						</div>
<!--						<h2 class="pull-xs-right">$39</h2>-->
<!--						<button class="btn btn-primary btn-lg">Suscribir</button>-->

					</div>
					<div class="col-md-8">
						<div class="products row">
							<div class="col-lg-6 product menu-category" *ngFor="let profesor of getProfesores">
								<div class="card card-block m-t-2">
<!--									<div class="menu-category-name">Accessories</div>-->
									<div class="product-image m-y-1" [routerLink]="['/profesor/', profesor.id]" >
										<img class="img-fluid" src="{{profesor.picture}}" alt="{{profesor.nombre}}, {{profesor.apellido}}" />
									</div>
									<div class="profesor">
										<h5>{{profesor.nombre}}, {{profesor.apellido}}</h5>
                                        <button [routerLink]="['/profesor/agenda/', profesor.id]" class="btn btn-success">Ver clases</button>
									</div>
									<h6>{{profesor.materia}}</h6>
									<div class="valor-curso">
										Valor curso: $ <span>{{profesor.valor_curso}}</span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--/row-->
		</div>
		<!--/container-->
	</div>
</div>

