.products {
	margin-bottom: 30px;

	.img-fluid {
		width: 100%;
	}

	.profesor {
		display: flex;
		margin: 10px;

		button {
			margin-left: auto;
		}
	}
}
.product {
	margin-bottom: 20px;
}
.product-image {
	margin-bottom: 9px;
	text-align: center;
    img { min-height: 250px; max-height: 250px; max-width: 300px;}
}

.card {
	padding: 10px;
}
