.container.products { margin-top: 100px;}

.products {
	margin-bottom: 30px;

	.img-fluid {
		width: 100%;
	}

	.profesor {
		display: flex;
		margin-top: 10px;
		
		button {
			margin: auto;
		}
	}
}
.product {
	margin-bottom: 20px;
}
.product-image { margin-bottom: 9px;}

.card {
	padding: 10px;
}
