.products {
	margin-bottom: 30px;

	.img-fluid {
		width: 100%;
	}

	.profesor {
		display: flex;
		margin-top: 10px;

		button {
			margin: auto;
		}
	}
}
.product {
	margin-bottom: 20px;
}
.product-image {
    margin-bottom: 9px;
    img { min-height: 250px; max-height: 250px; max-width: 300px;}
}

.card {
	padding: 10px;
}
