<div class="container menutop-fix myContainer">
    <div class="row myRow">
        <div class="col-md-6 profile">
            <div class="row">
                <div class="col-md-4">
                    <div class="avatar-catalogo">
                        <img src="{{profesor.foto}}" alt="{{profesor.nombreApellido}}" class="img-raised"/>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="info" style="text-align: left">
                        <h3>{{profesor.nombreApellido}}</h3>
                        <h4>{{profesor.titulo ? profesor.titulo : 'Profesor'}}</h4>
                        <div class="rate">
                            <ng-template #t let-fill="fill">
                            <span class="star" [class.full]="fill === 100">
                                <span class="half" [style.width.%]="fill">&#9733;</span>&#9733;
                            </span>
                            </ng-template>
                            <ngb-rating [(rate)]="profesor.calificacion" [readonly]="true" [starTemplate]="t" [max]="5"></ngb-rating>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 descripcion">
                    <span *ngIf="profesor.descripcion">{{profesor.descripcion}}</span>
                </div>
            </div>
            <hr>
            <div class="row">
                <div  class="col-sm-12" style="margin-top: -24px" >
                    <form class="needs-validation" autocomplete="off" novalidate [formGroup]="fg" [ngClass]="{'hideout': !isAlumno}">
                    <!-- ==================== Form ===================== -->
                    <div class="row mb-3">
                            <div class="col-md-9">
                                <label for="txtRespuestaId"></label>
                                <textarea formControlName="txtRespuesta" id="txtRespuestaId" class="form-control" rows="3"></textarea>
                            </div>
                            <div class="col-md-3">
                                <button class="btn btn-cyan btn-block mt-4 addQuestion" (click)="sendPregunta($event)">Agregar pregunta</button>
                            </div>
                    </div>
                    </form>
                    <!-- Chat -->
                    <div class="small-chat-box">
                        <div *ngFor="let msg of anotaciones.chat; let i=index">
                            <div *ngIf="i < cantidadComentarios" class="chat-message {{msg.align}}">
                                <div>
                                    <div [innerHTML]="msg.avatar"></div>
                                    <div class="message">
                                        <a class="message-author" href="#"> {{msg.fromName}} </a>
                                        <span class="message-date"> {{msg.fechaHora}} </span>
                                        <span class="message-content">
                                            {{msg.message}}
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
    
                    <button class="btn btn-cyan btn-block btn-secondary mt-3"
                            (click)="mostrarMasPreguntas($event)">
                            {{cantidadComentarios === 3 ? 'Ver más comentarios' : 'Ver menos comentarios'}}
                    </button>
    
                </div> <!-- End col -->
            </div>
        </div>
        <div class="col-md-6 myCol">
            <h4>¿Qué clase quieres tomar con {{profesor.nombre}}?</h4>
            <label for="cmbMateria">Materia </label>
            <select id="cmbMateria" class="form-control custom-select">
                <option *ngFor="let materia of materias" value="{{materia.id}}">{{materia.nombre}} - {{materia.nivelNombre}}</option>
            </select>
            <br>
            <br>

            <h4>¿Cúando?</h4>
            <div class="datepicker">
                <ngb-datepicker #dp
                                (dateSelect)="onDateSelection($event)"
                                [displayMonths]="2"
                                [navigation]="'select'"
                                [markDisabled]="disableDays"
                                outsideDays="collapsed">
                </ngb-datepicker>
            </div>

            <label for="cmbHorario">Horarios </label>
            <select id="cmbHorario" class="form-control custom-select">
                <option *ngFor="let horario of horariosClases" value="{{horario.id}}">{{horario.rangoHora}}</option>
            </select>

            <br>
            <br>

            <button class="btn btn-success" style="width: 100%;" disabled>Tomar Clase</button>
        </div>
    </div> <!-- /Row -->
</div> <!--/container-->
