<div class="container menutop-fix myContainer">
    <div class="row myRow">
        <div class="col-md-6 profile">
            <div class="avatar">
                <img src="{{profesor.foto}}" alt="{{profesor.nombre}}, {{profesor.apellido}}" class="img-raised"/>
            </div>
            <div class="info">
                <div class="rate">
                    <ng-template #t let-fill="fill">
                      <span class="star" [class.full]="fill === 100">
                        <span class="half" [style.width.%]="fill">&#9733;</span>&#9733;
                      </span>
                    </ng-template>
                    <ngb-rating [(rate)]="profesor.calificacion" [readonly]="true" [starTemplate]="t" [max]="5"></ngb-rating>
                </div>
                <h3>{{profesor.nombre}}, {{profesor.apellido}}</h3>
                <h4>{{profesor.titulo ? profesor.titulo : 'Profesor'}}</h4>

                <!--				<hr>-->
                <span *ngIf="profesor.descripcion">{{profesor.descripcion}}</span>
            </div>
            <hr style="margin-top: 30px">

            <div  class="col-sm-12" >
                <!-- Chat -->
                <div class="small-chat-box">

                    <div *ngFor="let msg of anotaciones.chat" class="chat-message {{msg.align}}">
                        <i class="{{msg.avatar}} avatar-user"></i>
                        <div class="message">
                            <a class="message-author" href="#"> {{msg.fromName}} </a>
                            <span class="message-date"> {{msg.fechaHora}} </span>
                            <span class="message-content">
                                            {{msg.message}}
                                        </span>
                        </div>
                    </div>
                </div>
                <!-- ==================== Form ===================== -->
                <form class="needs-validation" autocomplete="off" novalidate [formGroup]="fg" [ngClass]="{'hideout': !isAlumno}">
                    <label for="txtRespuestaId"></label>
                    <textarea formControlName="txtRespuesta" id="txtRespuestaId" class="form-control" rows="3"></textarea>
                    <button class="btn btn-secondary btn-block mt-4" (click)="sendPregunta($event)">Agregar pregunta</button>
                </form>

            </div> <!-- End col -->


        </div>
        <div class="col-md-6 myCol">
            <h4>¿Qué clase quieres tomar con {{profesor.nombre}}?</h4>
            <label for="cmbMateria">Materia </label>
            <select id="cmbMateria" class="form-control custom-select">
                <option *ngFor="let materia of materias" value="{{materia.id}}">{{materia.nombre}} - {{materia.nivelNombre}}</option>
            </select>
            <br>
            <br>

            <h4>¿Cúando?</h4>
            <div class="datepicker">
                <ngb-datepicker #dp
                                (dateSelect)="onDateSelection($event)"
                                [displayMonths]="2"
                                [navigation]="'select'"
                                [markDisabled]="disableDays"
                                outsideDays="collapsed">
                </ngb-datepicker>
            </div>

            <label for="cmbHorario">Horarios </label>
            <select id="cmbHorario" class="form-control custom-select">
                <option *ngFor="let horario of horariosClases" value="{{horario.id}}">{{horario.rangoHora}}</option>
            </select>

            <br>
            <br>

            <button class="btn btn-success" style="width: 100%;" disabled>Tomar Clase</button>
        </div>





    </div> <!-- /Row -->


</div> <!--/container-->
