<h1>Términos y condiciones de uso del Sitio</h1>

<h4>Aceptación de términos y condiciones:</h4>

Este contrato describe los términos y condiciones generales (los "Términos y Condiciones Generales") aplicables al
uso de los servicios ofrecidos por PASOBIG S.A, CUIT 30-71237120-6 , ("los Servicios") dentro del sitio
www.teachonline.com.ar ("teachonline " o el "sitio"). Cualquier persona (en adelante "Usuario" o en plural
"Usuarios") que desee acceder y/o usar el sitio o los Servicios podrá hacerlo sujetándose a los Términos y
Condiciones Generales respectivos, junto con todas las demás políticas y principios que rigen teachonline y que
son incorporados al presente por referencia.
<br><br>
El Usuario debe leer, entender y aceptar todas las condiciones establecidas en los Términos y Condiciones
Generales y en las Políticas de Privacidad así como en los demás documentos incorporados a los mismos por
referencia, previo a su registración como Usuario de teachonline, optando de forma expresa por recibir los mismos
y toda otra información por medios digitales
<br><br>
<strong>
    CUALQUIER PERSONA QUE NO ACEPTE ESTOS TÉRMINOS Y CONDICIONES GENERALES, LOS CUALES TIENEN UN CARÁCTER
    OBLIGATORIO
    Y VINCULANTE, DEBERÁ ABSTENERSE DE UTILIZAR EL SITIO Y/O LOS SERVICIOS
</strong>

<h4>01 - Capacidad</h4>
Los Servicios sólo están disponibles para personas que tengan capacidad legal para contratar. No podrán utilizar
los servicios las personas que no tengan esa capacidad, o Usuarios de Teach Online que hayan sido suspendidos
temporalmente o inhabilitados definitivamente. Si estás registrando un Usuario como Empresa, debes tener capacidad
para contratar a nombre de tal entidad y de obligar a la misma en los términos de este Acuerdo.

<h4>02 - Registración</h4>
Es obligatorio completar el formulario de registración en todos sus campos con datos válidos para poder utilizar
los servicios que brinda Teach Online. El futuro Usuario deberá completarlo con su información personal de manera
exacta, precisa y verdadera ("Datos Personales") y asume el compromiso de actualizar los Datos Personales conforme
resulte necesario. El Usuario presta expresa conformidad con que teachonline utilice diversos medios para
identificar sus datos personales, asumiendo el Usuario la obligación de revisarlos y mantenerlos actualizados.
Teach online NO se responsabiliza por la certeza de los Datos Personales de los Usuarios. Los Usuarios garantizan
y responden, en cualquier caso, de la veracidad, exactitud, vigencia y autenticidad de sus Datos Personales.
<br><br>
El Usuario accederá a su cuenta personal ("Cuenta") mediante el ingreso de su Usuario y clave de seguridad
personal elegida ("Clave de Seguridad"). El Usuario se obliga a mantener la confidencialidad de su Clave de
Seguridad.

<h4>03 - Modificaciones del Acuerdo</h4>

Teach online podrá modificar los Términos y Condiciones Generales en cualquier momento haciendo públicos en el
Sitio los términos modificados. Todos los términos modificados entrarán en vigor a los 10 (diez) días de su
publicación. Dichas modificaciones serán comunicadas por Teach Online a los usuarios que en la Configuración de su
Cuenta de teachonline hayan indicado que desean recibir notificaciones de los cambios en estos Términos y
Condiciones. Todo usuario que no esté de acuerdo con las modificaciones efectuadas por Teach Online podrá
solicitar la baja de la cuenta.
<br><br>
El uso del sitio y/o sus servicios implica la aceptación de estos Términos y Condiciones generales de uso de Teach
Online.

<h4>04 – Propiedad Intelectual</h4>
En caso que Teach Online reciba una denuncia o un reclamo de un tercero o sospeche que se está cometiendo o se ha
cometido una infracción a derechos de Propiedad Intelectual, Teach Online se reserva el derecho de adoptar todas
las medidas que entienda adecuadas, lo que puede incluir la aplicación de sanciones sobre la cuenta y
publicaciones del usuario, como también brindar datos personales del usuario, tal como se describe en las
Políticas de Privacidad. 

<h4>05 - Privacidad de la Información</h4>
Para utilizar los Servicios ofrecidos por Teach Online, los Usuarios deberán facilitar determinados datos de
carácter personal. Su información personal se procesa y almacena en servidores o medios magnéticos que mantienen
altos estándares de seguridad y protección tanto física como tecnológica. Para mayor información sobre la
privacidad de los Datos Personales y casos en los que será revelada la información personal, se pueden consultar
nuestras <a href="#" routerLink="/legales/politica">Políticas de Privacidad.</a>

<h4>06 - Sanciones. Suspensión de operaciones</h4>
Sin perjuicio de otras medidas, Teach Online podrá advertir, suspender en forma temporal o definitivamente la
Cuenta de un Usuario o una publicación, aplicar una sanción que impacte negativamente en la reputación de un
Usuario, iniciar las acciones que estime pertinentes y/o suspender la prestación de sus Servicios si (a) se
quebrantara alguna ley, o cualquiera de las estipulaciones de los Términos y Condiciones Generales y demás
políticas de Teach Online; (b) si incumpliera sus compromisos como Usuario; (c) si se incurriera a criterio de
Teach Online en conductas o actos dolosos o fraudulentos; (d) no pudiera verificarse la identidad del Usuario o
cualquier información proporcionada por el mismo fuere errónea; (e) Teach Online entendiera que las publicaciones
u otras acciones pueden ser causa de responsabilidad para el Usuario que las publicó, para Teach Online o para los
demás Usuarios en general. En el caso de la suspensión de un Usuario, sea temporal o definitiva, todos los
servicios que tuviera publicados serán removidos del sistema.

<h4>07 - Responsabilidad</h4>
Teach Online pone a disposición de los Usuarios un espacio virtual que les permite ponerse en comunicación para
ofrecer, vender y/o comprar servicios. 
Son los Usuarios Vendedores quienes utilizan Teach Online para publicar sus servicios, y definir las condiciones
de su oferta (servicio ofrecido, descripción, fotos, calidad, cantidad, integridad, etc.). 
En todos los casos, al ser los Usuarios que bridaran el servicio publicado y quienes los ofrecen para su venta,
serán responsables por la existencia, calidad, cantidad, integridad o legitimidad de los productos o servicios que
ofrecen, y mantendrán indemnes a Teach Online por las eventuales acciones o reclamaciones que pudiesen surgir con
motivo de una oferta o transacción.

<h4>08 - Alcance de los servicios de Teach Online</h4>
Teachonline es una plataforma para el registro y la difusión de avisos en línea y uso de complementos digitales
que tiene cuyo único objetivo es el establecimiento de contacto entre profesores y alumnos.

Teachonline interviene en las transacciones entre sus miembros para dar mayor seguridad y cobra un porcentaje por
el uso de las herramientas digitales puestas a disposicion para dar la clase.
Teachonline supedita el pago de las prestaciones de clases de los alumnos a los profesores al cumplimiento de la
clase pautada en los terminos que se contrata.

<h4>09- Fallas en el sistema</h4>
Teach Online no se responsabiliza por cualquier daño, perjuicio o pérdida al usuario causados por fallas en el
sistema, en el servidor o en Internet. Teach Online tampoco será responsable por cualquier virus que pudiera
infectar el equipo del usuario como consecuencia del acceso, uso o examen de su sitio web o a raíz de cualquier
transferencia de datos, archivos, imágenes, textos, o audio contenidos en el mismo. Los usuarios NO podrán
imputarle responsabilidad alguna ni exigir pago por lucro cesante, en virtud de perjuicios resultantes de
dificultades técnicas o fallas en los sistemas o en Internet. Teach Online no garantiza el acceso y uso continuado
o ininterrumpido de su sitio. El sistema puede eventualmente no estar disponible debido a dificultades técnicas o
fallas de Internet, o por cualquier otra circunstancia ajena a Teach Online; en tales casos se procurará
restablecerlo con la mayor celeridad posible sin que por ello pueda imputársele algún tipo de responsabilidad.
Teach Online no será responsable por ningún error u omisión contenidos en su sitio web.

<h4>10 - Tarifas. Facturación</h4>
El usuario vendedor del servicio pagara a Teach Online un costo por el uso de las herramientas que la plataforma
pone a disposicion tanto para brindar su serivio como para ahcer el cobro de este.
<br><br>
Teach Online se reserva el derecho de tomar las medidas judiciales y extrajudiciales que estime pertinentes para
obtener el pago del monto debido.
<br><br>
Teach Online se reserva el derecho de modificar, cambiar, agregar, o eliminar las tarifas vigentes, en cualquier
momento, lo cual será notificado a los Usuarios, en la forma establecida en la Cláusula 3. Sin embargo, Teach
Online podrá modificar temporalmente la Política de Tarifas y las tarifas por sus servicios por razón de
promociones, siendo efectivas estas modificaciones cuando se haga pública la promoción o se realice el anuncio.
<br><br>
En caso de haberse facturado cargos que no hubiesen correspondido, el usuario deberá comunicarse con nuestro
equipo de Atención al Cliente para resolver dicha cuestión.

<h4>11 - Sistema de reputación</h4>
Debido a que la verificación de la identidad de los Usuarios en Internet es difícil, Teach Online no puede
confirmar ni confirma la identidad pretendida de cada Usuario. Por ello el Usuario Vendedor cuenta con un sistema
de reputación de Usuarios que es actualizado periódicamente en base a datos vinculados con su actividad en el
sitio. Este sistema de reputación, además constará de un espacio donde los Usuarios compradores podrán hacer
comentarios sobre la experiencia del servicio. Dichos comentarios serán incluidos bajo exclusiva responsabilidad
de los Usuarios que los emitan.
<br><br>
Teach Online no tiene obligación de verificar la veracidad o exactitud de los mismos y NO se responsabiliza por
los dichos allí vertidos por cualquier Usuario, por la confianza depositada en las opiniones de los compradores o
por cualquier otro comentario expresado dentro del sitio o a través de cualquier otro medio incluido el correo
electrónico. Teach Online se reserva el derecho de editar y/o eliminar aquellos comentarios que sean considerados
inadecuados u ofensivos. Teach Online mantiene el derecho de excluir a aquellos Usuarios que sean objeto de
comentarios negativos provenientes de fuentes distintas. 
