<div class="card">
    <header class="card-header perfil-header">
        <h4>Mi Perfil</h4>
    </header>
    <article class="card-body ">

        <!-- ==================== Form ===================== -->
        <form class="needs-validation" autocomplete="off" novalidate [formGroup]="parentGroup">
            <div class="form-row">
                <div class="col">
                    <label for="txtNombre" class="control-label">Nombre</label>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <i class="fas fa-user"></i> </span>
                        </div>
                        <input id="txtNombre" formControlName="nombre" type="text" class="form-control" [readonly]="usuarioLogueado?.sistemaExterno">

                    </div>
                    <app-field-error-display [displayError]="usuario.nombre?.touched && usuario.nombre.errors?.required"
                                             errorMsg="* Debe completar el nombre">
                    </app-field-error-display>
                    <app-field-error-display [displayError]="usuario.nombre?.touched && usuario.nombre.errors?.minlength"
                                             errorMsg="* El nombre debe tener al menos {{usuario.nombre.errors?.minlength?.requiredLength}} letras">
                    </app-field-error-display>
                    <app-field-error-display [displayError]="usuario.nombre?.touched && usuario.nombre.errors?.maxlength"
                                             errorMsg="* El nombre no puede tener más de {{usuario.nombre.errors?.maxlength?.requiredLength}} letras">
                    </app-field-error-display>
                    <app-field-error-display
                                            [displayError]="usuario.nombre?.touched && usuario.nombre.errors?.pattern"
                                            errorMsg="* El nombre debe contener solo letras">
                    </app-field-error-display>
                </div>

                <div class="col">
                    <label for="txtApellido">Apellido</label>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <i class="far fa-user"></i> </span>
                        </div>
                        <input id="txtApellido" formControlName="apellido" type="text" class="form-control" [readonly]="usuarioLogueado?.sistemaExterno">
                    </div>
                    <app-field-error-display [displayError]="usuario.apellido?.touched && usuario.apellido.errors?.required"
                                             errorMsg="* Debe completar el apellido">
                    </app-field-error-display>
                    <app-field-error-display [displayError]="usuario.apellido?.touched && usuario.apellido.errors?.minlength"
                                             errorMsg="* El apellido debe tener al menos {{usuario.apellido.errors?.minlength?.requiredLength}} letras">
                    </app-field-error-display>
                    <app-field-error-display [displayError]="usuario.apellido?.touched && usuario.apellido.errors?.maxlength"
                                             errorMsg="* El apellido no puede tener más de {{usuario.apellido.errors?.maxlength?.requiredLength}} letras">
                    </app-field-error-display>
                    <app-field-error-display
                                            [displayError]="usuario.apellido?.touched && usuario.apellido.errors?.pattern"
                                            errorMsg="* El apellido debe contener solo letras">
                    </app-field-error-display>
                </div>

            </div>

            <div class="form-row">
                <div class="col">
                    <label for="txtUser">Nombre de Usuario</label>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <i class="fas fa-user-circle"></i> </span>
                        </div>
                        <input id="txtUser" formControlName="username" type="text" readonly
                               class="form-control">
                    </div>

                </div>
                <div class="col">
                    <label for="txtDni">DNI</label>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <i class="fas fa-fingerprint"></i> </span>
                        </div>
                        <input id="txtDni" formControlName="numeroIdentificacion" OnlyNumber="true" type="text"
                               class="form-control" [readonly]="usuarioLogueado?.sistemaExterno">
                    </div>
                    <app-field-error-display [displayError]="usuario.dni?.touched && usuario.dni.errors?.required"
                                             errorMsg="* Debe completar el DNI">
                    </app-field-error-display>
                    <app-field-error-display [displayError]="usuario.dni?.touched && usuario.dni.errors?.minlength"
                                             errorMsg="* El DNI debe tener entre 7 y 8 dígitos">
                    </app-field-error-display>
                    <app-field-error-display [displayError]="usuario.dni?.touched && usuario.dni.errors?.maxlength"
                                             errorMsg="* El DNI debe tener entre 7 y 8 dígitos">
                    </app-field-error-display>
                </div>
            </div>

            <div class="form-row" *ngIf="!isAlumno">
                <div class="col">
                    <label for="txtTitulo" class="control-label">Título</label>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-building"></i></span>
                        </div>
                        <input id="txtTitulo" formControlName="titulo" type="text" class="form-control" [readonly]="usuarioLogueado?.sistemaExterno">

                    </div>
                    <app-field-error-display [displayError]="usuario.titulo?.touched && usuario.titulo.errors?.minlength"
                                             errorMsg="* El título debe tener al menos {{usuario.titulo.errors?.minlength?.requiredLength}} letras">
                    </app-field-error-display>
                    <app-field-error-display [displayError]="usuario.titulo?.touched && usuario.titulo.errors?.maxlength"
                                             errorMsg="* El título no puede tener más de {{usuario.titulo.errors?.maxlength?.requiredLength}} letras">
                    </app-field-error-display>
                </div>

                <div class="col">
                    <label for="txtEmail">eMail</label>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <i class="fas fa-envelope"></i> </span>
                        </div>
                        <input id="txtEmail" formControlName="email" type="email" class="form-control" [readonly]="usuarioLogueado?.sistemaExterno">
                    </div>
                    <app-field-error-display [displayError]="usuario.email?.touched && usuario.email.errors?.required"
                                             errorMsg="* Debe completar el email y este debe ser un correo valido">
                    </app-field-error-display>
                    <app-field-error-display [displayError]="usuario.email?.touched && usuario.email.errors?.correo"
                                             errorMsg="* No parece ser una dirección de mail">
                    </app-field-error-display>
                </div>

            </div>

            <!-- ================== Institucion ================== -->
            <div class="form-row" *ngIf="!isAlumno">
                <div class="col">
                    <label for="txtDescripcion">Descripción</label>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-info-circle"></i></span>
                        </div>
                        <textarea id="txtDescripcion" formControlName="descripcion" class="form-control" rows="3" [readonly]="usuarioLogueado?.sistemaExterno"></textarea>
                    </div>
                    <app-field-error-display [displayError]="usuario.descripcion?.touched && usuario.descripcion.errors?.minlength"
                                             errorMsg="* El descripción debe tener al menos {{usuario.descripcion.errors?.minlength?.requiredLength}} letras">
                    </app-field-error-display>
                    <app-field-error-display [displayError]="usuario.descripcion?.touched && usuario.descripcion.errors?.maxlength"
                                             errorMsg="* La descripción no puede tener más de {{usuario.descripcion.errors?.maxlength?.requiredLength}} letras">
                    </app-field-error-display>
                </div>

            </div>
            <div class="form-row" *ngIf="isAlumno">
                <div class="col">
                    <label for="txtInstitucion">Institución</label>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <i class="fas fa-university"></i> </span>
                        </div>
                        <input id="txtInstitucion" formControlName="institucion" readonly="readonly" type="text" class="form-control">
                    </div>
                </div>
            </div>
            <!-- ================== Mail ================== -->
            <div class="form-row" *ngIf="isAlumno">
                <div class="col">
                    <label for="txtEmailAlumno">eMail</label>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <i class="fas fa-envelope"></i> </span>
                        </div>
                        <input id="txtEmailAlumno" formControlName="email" type="email" class="form-control" [readonly]="usuarioLogueado?.sistemaExterno">
                    </div>
                    <app-field-error-display [displayError]="usuario.email?.touched && usuario.email.errors?.required"
                                             errorMsg="* Debe completar el email y este debe ser un correo valido">
                    </app-field-error-display>
                    <app-field-error-display [displayError]="usuario.email?.touched && usuario.email.errors?.correo"
                                             errorMsg="* No parece ser una dirección de mail">
                    </app-field-error-display>
                    <small class="form-text text-muted">No comrpatiremos tu email con nadie.</small>
                </div>

<!--                <div class="col" *ngIf="usuario.calificacion">-->
<!--                    <label>Calificación General</label>-->
<!--                    <div class="rate">-->
<!--                        <ng-template #t let-fill="fill">-->
<!--                          <span class="star" [class.full]="fill === 100">-->
<!--                            <span class="half" [style.width.%]="fill">&#9733;</span>&#9733;-->
<!--                          </span>-->
<!--                        </ng-template>-->

<!--                        <ngb-rating [(rate)]="usuario.calificacion" [starTemplate]="t" [readonly]="true" [max]="5"></ngb-rating>-->
<!--                    </div>-->
<!--                </div>-->
            </div>

            <!-- ================== Teléfonos ================== -->
            <div class="form-row my-3">
                <div class="col">
                    <label for="txtCellphone">Número de Teléfono (Celular)</label>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <i class="fas fa-mobile-alt"></i> </span>
                        </div>
                        <input id="txtCellphone" formControlName="telefonoMovil" type="text" class="form-control" [readonly]="usuarioLogueado?.sistemaExterno">
                    </div>
                    <app-field-error-display [displayError]="usuario.telefonoMovil?.touched && usuario.telefonoMovil.errors?.required"
                                             errorMsg="* Debe completar el número del teléfono celular">
                    </app-field-error-display>
                    <app-field-error-display [displayError]="usuario.telefonoMovil?.touched && usuario.telefonoMovil.errors?.telefono"
                                             errorMsg="* Solo debe ingresar números y/o los signos + - para indicar país y región">
                    </app-field-error-display>
                    <app-field-error-display [displayError]="usuario.telefonoMovil?.touched && usuario.telefonoMovil.errors?.minlength"
                                             errorMsg="* El teléfono debe tener al menos {{usuario.telefonoMovil.errors?.minlength?.requiredLength}} números">
                    </app-field-error-display>
                    <app-field-error-display [displayError]="usuario.telefonoMovil?.touched && usuario.telefonoMovil?.errors?.maxlength"
                                             errorMsg="* La teléfono no puede tener más de {{usuario.telefonoMovil?.errors?.maxlength?.requiredLength}} números">
                    </app-field-error-display>
                </div>
                <div class="col">
                    <label for="txtPhone">Número de Teléfono (Fijo)</label>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <i class="fas fa-phone-alt"></i> </span>
                        </div>
                        <input id="txtPhone" formControlName="telefonoFijo" type="text" class="form-control" [readonly]="usuarioLogueado?.sistemaExterno">
                    </div>
                    <app-field-error-display
                            [displayError]="usuario.telefonoFijo?.touched && usuario.telefonoFijo.value?.toString().length > 0 && usuario.telefonoFijo?.errors?.telefono"
                            errorMsg="* Solo debe ingresar números y/o los signos + - para indicar país y región">
                    </app-field-error-display>
                    <app-field-error-display [displayError]="usuario.telefonoFijo?.touched && usuario.telefonoFijo.errors?.minlength"
                                             errorMsg="* El teléfono debe tener al menos {{usuario.telefonoFijo.errors?.minlength?.requiredLength}} números">
                    </app-field-error-display>
                    <app-field-error-display [displayError]="usuario.telefonoFijo?.touched && usuario.telefonoFijo?.errors?.maxlength"
                                             errorMsg="* La teléfono no puede tener más de {{usuario.telefonoFijo?.errors?.maxlength?.requiredLength}} números">
                    </app-field-error-display>

                </div>
            </div>

            <div class="form-row" *ngIf="!usuarioLogueado?.sistemaExterno">
                <div class="col">
                    <button type="button" (click)="cambiarPassword.emit()" class="btn btn-success btn-block"> Cambiar contraseña </button>
                </div>
                <div class="col">
                    <button type="submit" class="btn btn-primary btn-block" [disabled]="getDisabled()" (click)="onSubmit()"> Guardar cambios </button>
                </div>
            </div> <!-- form-group// -->
        </form>
    </article> <!-- card-body end .// -->
</div> <!-- End Card -->

