<div class="container">
            <div class="card">
                <header class="card-header perfil-header">
                    <h4>{{clase?.idString}}</h4>
                </header>
                <article class="card-body row">
                    <div class="col-sm-6">
                        <form>
                            <div class="form-row">
                                <div class="col">
                                    <label for="txtProfesor" class="control-label">Profesor</label>
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fas fa-user"></i></span>
                                        </div>
                                        <input id="txtProfesor" value="{{userName}}" type="text" readonly class="form-control">
                                    </div>
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="col">
                                    <label for="txtInstitucion" class="control-label">Institución</label>
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fas fa-university"></i></span>
                                        </div>
                                        <input id="txtInstitucion" value="{{claseDetalle?.institucion}}" type="text" readonly class="form-control">
                                    </div>
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="col">
                                    <label for="txtMateria" class="control-label">Materia</label>
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"> <i class="fas fa-book"></i> </span>
                                        </div>
                                        <input id="txtMateria" type="text" value="{{claseDetalle?.materia}}" readonly class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col">
                                    <label for="txtDia" class="control-label">Fecha y Hora</label>
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"> <i class="fas fa-calendar"></i> </span>
                                        </div>
                                        <input id="txtDia" value="{{claseDetalle?.dia}} {{claseDetalle?.hora}} Hs." type="text" readonly class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col">
                                    <label for="txtEstado" class="control-label">Estado</label>
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"> <i class="fas fa-battery-quarter"></i></span>
                                        </div>
                                        <input id="txtEstado" value="{{claseDetalle?.estado}}" type="text" readonly class="form-control">
                                    </div>
                                </div>

                                <div class="col" *ngIf="claseDetalle?.puntuacion">
                                    <label class="control-label">Calificación</label>
                                    <div class="input-group mb-3 rate">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fas fa-chart-pie"></i></span>
                                        </div>
                                        <div style="padding-left: 10%;">
                                            <ng-template #t let-fill="fill">
                                              <span class="star" [class.full]="fill === 100">
                                                <span class="half" [style.width.%]="fill">&#9733;</span>&#9733;
                                              </span>
                                            </ng-template>
                        
                                            <ngb-rating [rate]="calificacion.value" [starTemplate]="t" [readonly]="true" [max]="5"></ngb-rating>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </form>

                        <div class="row">
                            <div class="col" *ngIf="!isAlumno">
                                <button class="btn btn-secondary btn-block mt-4" type="button" (click)="goBack.emit('navclasealumnos')">Ver alumnos</button>
                            </div>
                            <div class="col">
                                <button class="btn btn-primary btn-block mt-4" type="button" [disabled]="!getIniciarClase()" (click)="iniciarClase($event)">Iniciar Clase</button>
                            </div>
                        </div>

                        <div class="row" *ngIf="isAlumno">
                            <div class="col-sm-12">
                                <!-- Form encuesta satisfacción -->
                                <form class="needs-validation" autocomplete="off" novalidate [formGroup]="fge">
                                    <label class="mt-4">Calificación</label>
                                      <div class="rate">
                                        <ng-template #t let-fill="fill">
                                          <span class="star" [class.full]="fill === 100">
                                            <span class="half" [style.width.%]="fill">&#9733;</span>&#9733;
                                          </span>
                                        </ng-template>
                    
                                        <ngb-rating formControlName="puntuacion" [starTemplate]="t" [readonly]="disabledPuntuacion" [max]="5"></ngb-rating>
                                    </div>
                                    <app-field-error-display
                                            [displayError]="txtComentario.touched && calificacion.errors?.required"
                                            errorMsg="* Ingrese una calificación">
                                    </app-field-error-display>     

                                    <label for="txtComentarioId">Comentario de la calificación</label>
                                    <textarea formControlName="comentario" id="txtComentarioId" class="form-control" rows="3" [readOnly]="disabledPuntuacion"></textarea>
                                    <app-field-error-display
                                            [displayError]="txtComentario.touched && txtComentario.errors?.minlength"
                                            errorMsg="* Mínimo 2 carácteres">
                                    </app-field-error-display>     
                                    <app-field-error-display
                                            [displayError]="txtComentario.touched && txtComentario.errors?.maxlength"
                                            errorMsg="* Máximo 100 carácterres">
                                    </app-field-error-display>     

                                    <button class="btn btn-secondary btn-block mt-3" [disabled]="disabledPuntuacion" (click)="calificar($event)">Enviar calificación</button>
                                </form>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <button class="btn btn-danger btn-block mt-4" type="button" (click)="goBack.emit('navclases')">Volver</button>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div  class="col-sm-12">
                            <!-- ==================== Chat ===================== -->
                            <div class="small-chat-box">

                                <div *ngFor="let msg of anotaciones.chat" class="chat-message {{msg.align}}">
                                    <!-- <i class="{{msg.avatar}} avatar-user"></i> -->
                                    <div class="message">
                                        <a class="message-author" href="#"> {{msg.fromName}} </a>
                                        <span class="message-date"> {{msg.fechaHora}} </span>
                                        <span class="message-content">
                                            {{msg.message}}
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <!-- Form -->
                            <form class="needs-validation" autocomplete="off" novalidate [formGroup]="fg">
                                <label for="txtRespuestaId"></label>
                                <textarea formControlName="txtRespuesta" id="txtRespuestaId" class="form-control" rows="3"></textarea>
                                <div class="btn-floating-container">
                                    <a class="btn-floating btn-success" (click)="enviarRespuesta($event)"><i class="fas fa-plus"></i></a>
                                </div>
                                <!-- <button class="btn btn-secondary btn-block mt-4" (click)="enviarRespuesta($event)">Agregar respuesta</button> -->
                            </form>

                        </div> <!-- End col -->
                    </div>
                </article> <!-- End card body -->

            </div> <!-- End card -->

        </div> <!-- End col -->
