.main-w {
    height: calc(100vh - 354px);
    margin-top: 100px;
}
.user_card {
    height: 470px;
    width: 380px;
    margin-bottom: auto;
    background: #1e4c61;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;

}
.brand_logo_container {
    position: absolute;
    top: 23px;
}
.brand_logo {
    width: 190px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.form_container {
    margin-top: 100px;
}
.login_btn {
    width: 100%;
    background: #3b933d !important;
    color: white !important;
}
.login_btn_secondary {
    width: 100%;
    background: #737373 !important;
    color: white !important;
}
.login_btn:focus {
    box-shadow: none !important;
    outline: 0px !important;
}
.login_container {
    padding: 0 2rem;
}

.input-group {
    input {
        background: rgb(232, 240, 254) !important;
    }
    .input-group-prepend {
        .input-group-text {
            min-width: 46px;
            background: #3b933d !important;
            color: white !important;
            border: 0 !important;
            border-radius: 0.25rem 0 0 0.25rem !important;
        }
    }

    .input-group-append {
        .input-group-text {
            min-width: 46px;
            background: rgb(232, 240, 254) !important;
            color: #515151 !important;
        }
    }
}

.instrucciones {
    color: #eee;
    width: 70%;
    position: relative;
    top: 100px;
    margin: 0 auto;
    p {
        text-align: center;
    }
}
.recaptcha-box {
    min-height: 78px;
}

.input_user,
.input_pass:focus {
    box-shadow: none !important;
    outline: 0px !important;
}
.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #3b933d !important;
}