<div class="container menutop-fix">

    <div class="row">
        <table id="tableMisClases" class="table table-striped sampleTable">
            <thead>
            <tr>
<!--                <th>Id Oculto</th>-->
                <th>Institución</th>
                <th *ngIf="isAlumno">Profesor</th>
                <th>Materia</th>
                <th>Día</th>
                <th>Hora</th>
                <th>Calificación</th>
                <th>Estado</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let clase of clases">
                <td>{{clase.nombreInstitucion}}</td>
                <td *ngIf="isAlumno">{{clase.profesorNombre}}</td>
                <td>{{clase.materiaNombre}}</td>
                <td>{{clase.dia}}</td>
                <td>{{clase.hora}}</td>
                <td>{{clase.calificacion}}</td>
                <td>{{clase.estado}}</td>
                <td><a class="btn btn-primary" href="#" routerLink="/clase/detalle/{{clase.id}}">Ver Detalle</a></td>
            </tr>
            </tbody>
        </table>
    </div>


</div>
