:host ::ng-deep ng2-smart-table { 
    .hide-action td.ng2-smart-actions a .ingresar {
        display: none;
    }
    table {
        border: 1px solid lightgrey;
    }
    table tr td, table tr th {
        padding: .5em 0.2em !important;
    }
    ng2-st-tbody-custom {
        display: inline-flex;
    }
    .primary-button {
        margin-right: 3px;
    }
}
:host ::ng-deep ng2-smart-table { 
    ::ng-deep thead {
        background-color: #ddd !important;
	}
	::ng-deep .ng2-smart-title {
        text-align: center;
        
        a {
            color: #001e56;
        }
	}
}

