/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
@import '~ngx-toastr/toastr';

body {
	font-family: 'Titillium Web', sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 1.7;
	color: #90979e;
	background: #efefef;
	height: 100%;
	position: relative;
}

// ========= Para quitar el borde negro ==========
// cuando se hace un click sobre la imagen del carrusel
// o se hace foco en el div debajo, se dibuja un borde negro que piden quitar
*:active {outline: none; border: none;}
*:hover {outline: none; border: none;}
*:focus {outline: none; border: none;}

::selection {
	color: #fff;
	background: #0E4675;
}

a {
	color: #f1f1f1;
}

a:hover {
	color: #85C03B;
}

h1, h2, h3, h4, h5, h6, figure {
	color: #314861;
	font-family: 'Titillium Web', sans-serif;
	font-weight: 400;
	margin: 0 0 9px 0;
}

.header-section {
	font-weight: bold;
	color: #314861;
	font-size: 2.2em;
	line-height: 1em;
	//padding-bottom: 65px;
	//padding-top: 65px !important;
	margin: 40px auto;

}
.sub-header-section	{
	font-size: 1em;
	font-weight: 400;
	margin: -36px auto 40px;
	font-style: italic;
}

// ============================ chips =================================
.chip {
	display: inline-block;
	height: 32px;
	padding: 0 12px;
	margin-right: 1rem;
	margin-bottom: 1rem;
	font-size: 13px;
	font-weight: 500;
	line-height: 32px;
	color: rgba(0,0,0,0.6);
	cursor: pointer;
	background-color: #c6c6c6;
	border-radius: 16px;
	-webkit-transition: all .3s linear;
	transition: all .3s linear;
	i {
		margin-left: 5px;
	}
}
// ============================ end chips =================================

.filtros {
	ul {
		list-style: none;
		font-size: 14px;
		li {
			margin-left: -20px;
			a, a:visited, a:active {
				color: rgba(0, 0, 0, 0.6);
				text-decoration: none;
			}

			a:hover {
				color: rgba(0, 0, 0, 0.8);
				text-decoration: none;
			}

		}
	}
}

.valor-curso {
	display: list-item;
	color: #e8e8e8;
	background-color: #314861;
	border-radius: 3px;
	padding: 0 10px;
}

.carousel-indicators li {
	box-sizing: content-box;
	flex: 0 1 auto;
	width: 16px;
	height: 16px;
	margin-right: 3px;
	margin-left: 3px;
	text-indent: -999px;
	cursor: pointer;
	background-color: #3b933d;
	border-radius: 50%;
}
.carousel-indicators li.active {
	background-color: #85C03B;
}


// ==================================================================================================================
.fh5co-cta .container {
	position: relative;
	z-index: 2;
}
.sub-footer {
	background-color:#1a242f;
	width:100%;
	padding:14px;
	clear:both;
}
.sub-footer .container p {
	color: #d0d0d0;
	padding: 20px 0 0 0;
	line-height: 1.2em;
	text-align: justify;
	clear: both;
	font-size: 0.8em;
	border-top: 1px solid rgba(255, 255, 255, 0.15);
}

#fh4co-work-section .item-grid {
	width: 100%;
	float: left;
	position: relative;
	background: #fff;
	margin-bottom: 50px;
	-webkit-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.11);
	-moz-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.11);
	box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.11);
	-webkit-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
	top: 2px;
}
#fh4co-work-section .item-grid .image {
	height: 300px;
	overflow: hidden;
	background-size: cover;
	background-position: center center;
}
#fh4co-work-section .item-grid .v-align {
	padding: 30px;
}
#fh4co-work-section .item-grid .v-align h3 {
	font-weight: 700;
	font-size: 20px;
}
#fh4co-work-section .item-grid .v-align h4 {
	font-weight: 400;
	font-size: 18px;
}
#fh4co-work-section .item-grid .v-align h5 {
	font-weight: 400;
	font-size: 14px;
	color: rgb(167, 167, 167);
}
#fh4co-work-section .item-grid:hover, #fh4co-work-section .item-grid:focus {
	text-decoration: none;
	box-shadow: 0 14px 25px -2px rgba(0, 0, 0, 0.14);
	top: -2px;
	cursor: default;
}


#fh5co-footer {
	margin-top: 30px;
	padding: 2em 0 10px;
	float: left;
	width: 100%;
	position: relative;
	background: #001E56;
}
@media screen and (max-width: 768px) {
	#fh5co-footer {
		padding: 3em 0;
	}
}
#fh5co-footer h2, #fh5co-footer h3, #fh5co-footer h4 {
	color: #fff;
}
#fh5co-footer h3 {
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 16px;
	font-weight: bold;
}
#fh5co-footer [class*="col"] {
	padding-bottom: 0px;
}
#fh5co-footer .btn {
	color: #fff;
}
#fh5co-footer .float {
	float: left;
	margin-right: 10%;
}
#fh5co-footer ul {
	padding-left: 0px;
	margin: 0px 0px 0px 0px;
}
#fh5co-footer ul li {
	padding: 0;
	margin: 0 30px 0px 0;
	list-style: none;
}
#fh5co-footer ul li a {
	color: rgba(255, 255, 255, 0.5);
	text-decoration: none !important;
}
#fh5co-footer ul li a:hover {
	color: #fff;
}
#fh5co-footer .fh5co-social li {
	display: inline-block !important;
}

.fh5co-copyright {
	border-top: 1px solid rgba(255, 255, 255, 0.1);
	clear: both;
	margin-top: 40px !important;
	padding: 40px 0 0 0;
}
.fh5co-copyright span {
	display: block;
}


