/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
@import '~ngx-toastr/toastr';
@import 'chat';

html{
    height: 100%;
}

body {
    min-height: 100%;
    position: relative;
    padding-bottom: 196px;
    font-family: 'Titillium Web', sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 1.7;
	color: #7a8188;
	//background: #e2e2e2;
	background-image: url('/assets/images/background.jpg');
    :-webkit-autofill::first-line {
        font-family: 'Titillium Web', sans-serif;
        font-weight: 400;
        font-size: 16px;
    }
}

.hideout {
    display: none;
}

// ========= Slider del home (input) ==========
#ngb-typeahead-0 {
    width: 100%;
    max-width: 500px;
    text-align: center;
}


// ========= Modal ==========
.modal {
    position: absolute;
    top: 10px;
    right: 100px;
    bottom: 0;
    left: 0;
    height: 74vh;
    z-index: 10040;
    overflow: auto;
    overflow-y: auto;
}

.scrollbarVertical {
    overflow-y: scroll;
}
.scrollbarBoth {
    overflow: scroll;
}
.scrollbarHorizontal {
    overflow-x: scroll;
}

// ========= Placeholder color ==========
table.table-clases {
    thead {
        th {
            //background-color: #0e558c;
            //color: white;
            border: 0;
        }
    }
}

.ng2-smart-action-custom-custom > a >  i {
    color: #d7d7d7;
    text-decoration: none;
}

// ========= Estados de las clases ==========
.encurso {
	margin-left: 20%;

	i::before {
		content: "\f110";
	}
}
.pendiente {
	margin-left: 20%;

	i::before {
		content: "\f071";
	}
}
.finalizado {
	margin-left: 20%;

	i::before {
		content: "\f058";
	}
}

.custom-day {
    text-align: center;
    padding: 0.185rem 0.25rem;
    display: inline-block;
    height: 2rem;
    width: 2rem;
}
.custom-day.focused {
    background-color: #e6e6e6;
}
.custom-day.range, .custom-day:hover {
    background-color: rgb(2, 117, 216);
    color: white;
}
.custom-day.faded {
    background-color: rgba(2, 117, 216, 0.5);
}

// ========= Placeholder color ==========

::placeholder, :-moz-placeholder, :-ms-input-placeholder, ::-webkit-input-placeholder {
	color: #bbc7cf !important;
}

// ========= Para quitar el borde negro ==========
// cuando se hace un click sobre la imagen del carrusel
// o se hace foco en el div debajo, se dibuja un borde negro que piden quitar
//*:active {outline: none;}
//*:hover {outline: none; border: none;}
*:focus {outline: none;}

::selection {
	color: #fff;
	background: #0E4675;
}

a {
	color: #f1f1f1;
}

a:hover {
	color: #85C03B;
	text-decoration: none;
}

h1, h2, h3, h4, h5, h6, figure {
	color: #314861;
	font-family: 'Titillium Web', sans-serif;
	font-weight: 400;
	margin: 0 0 9px 0;
}

input {
    filter: none;
}

.header-section {
	font-weight: bold;
	color: #314861;
	font-size: 2.2em;
	line-height: 1em;
	//padding-bottom: 65px;
	//padding-top: 65px !important;
	margin: 40px auto;

}
.sub-header-section	{
	font-size: 1em;
	font-weight: 400;
	margin: -36px auto 40px;
	font-style: italic;
}

.ngb-dp-week {
	background: white;
}


.card-title small {
    float: right;
    //font-size: 12px !important;
}


.accordion {
  .faq-sign {
    font-size: 30px;
    color: #6cae5c;
  }

  .faq-pregunta {
    font-size: 20px;
    vertical-align: super;
    margin-left: 10px;
    color: #616161;
  }
  .card {
    .card-header {
      .faq-pregunta, .faq-pregunta:hover, .faq-pregunta:active {
        text-decoration: none !important;
      }
    }
  }


  .btn:hover, .btn-link:hover, .btn:active, .btn-link:active { text-decoration: none}
  .btn:focus, .btn-link:focus { box-shadow: none}
}

.menutop-fix {
    padding-top: 100px !important;
}
.dropdown-menu {
    i {
        color: #404040;
        width: 27px;
        vertical-align: middle;
    }
}

// ============================ Carousel =================================

.carousel-item {
	display: block !important;
	opacity: 0;
	transition: all 2s;
}

.carousel-item.active {
	opacity: 1;
	transition: all 2s;
}

// ============================ Legales  =================================
.legales {
  h3, h4 {
    margin-top: 30px
  }
  a, a:hover, a:focus, a:visited {
    color: #52a85b;
    text-decoration: none;
  }
}

// ============================ Navs =================================
.nav-pills {
    width: 100%;

    //.nav-link.active,
    //.show > .nav-link {
    //    color: white;
    //    background-color: #3b933d;
    //}
    li {
        width: 100%;
        margin-bottom: 8px;
    }
    li a {
        background-color: #aaafb2;
        color: white;
        i {
            font-size: 140%;
            position: relative;
            top: 3px;
            width: 43px;
        }
    }

    .nav-link.active {
        color: #fff;
        background-color: #29712b;
    }

}

// ============================ Profile =================================
.img-raised {
	// box-shadow: 0 5px 15px -8px rgba(0,0,0,.24), 0 8px 10px -5px rgba(0,0,0,.2);
	box-shadow: 0 5px 15px -8px rgba(0, 0, 0, 0.54), 0 8px 10px -5px rgba(0, 0, 0, 0.3);
}

.avatar-user {
    margin: 3px;
}
.right .avatar-user {
    margin-left: 6px;
}
.left .avatar-user {
    margin-right: 6px;
}

.perfil {
	width: 100%;
	// height: 100%;
	display: flex;
	align-content: center;
	justify-content: flex-end;
	position: absolute;
}
.avatar-small {
	width: 140px;
	height: 140px;
	overflow: hidden;
	border: 5px solid #c8c8c8;
	border-radius: 50%;
	//background-color: #1aa2a2;
	display: flex;
	position: absolute;
	align-content: center;
	justify-content: center;
	align-items: center;
	top: -20px;
	right: -20px;
	// :hover {opacity: 1;}
	transition: all .5s linear;

    img {
        width: 140px;
		transition: all .5s linear;
	}
	img:hover {
		transform: scale(1.3);
	}
	&:hover {
		.caption {
			opacity: 1;
		}
	}

    .caption {
		opacity: 0;
		font-size: 40px;
		color: rgba(255, 255, 255, 0.7);
		position: absolute;
		width: 100%;
		height: 100%;
		margin: auto;
		display: flex;
		justify-content: center;
		align-content: center;
		align-items: center;
		background-color: rgba(0,0,0,.44);
		text-align: center;

		p, span {
			display: block;

		}
		span {
			margin-top: -15px;
			font-size: 16px;
		}
    }
}

.rate {
    .star {
        position: relative;
        display: inline-block;
        font-size: 1.2rem;
        color: #b0c4de;
    }
    .full {color: #4188a6;}
    .half {
        position: absolute;
        display: inline-block;
        overflow: hidden;
        color: #4188a6;
    }

    .filled {color: #6cae5c;}
    .bad {color: #deb0b0;}
    .filled.bad {color: #4188a6;}
	.input-group-prepend {
		height: 38px;
	}
}

.btn-cyan {
    background-color: #00a4b6;
    color: #efefef;
    border-color: #0098a9;
}
.btn-cyan:hover {
    color: #fff;
    background-color: #0098a9;
    border-color: #00a4b6;
}


.profile {
	.avatar {
        display: flex;
        align-content: center;
		img {
			float: left;
			width: 150px;
			height: 150px;
			border: 8px solid #ddd;
			border-radius: 50%;
			background-color: transparent;
            position: relative;
            display: inline-block;
            margin: auto;
		}
	}
	.avatar-catalogo {
		margin-left: 10px;

		img {
			width: 150px;
			height: 150px;
			border: 8px solid #ddd;
			border-radius: 50%;
		}
	}
	.info {
        //min-height: 160px;
		//margin-left: 170px;
        display: block;
        margin-top: 15px;
        text-align: center;
		h3, h4 { font-weight: 600;}
        span {
            display: block;
        }
	}
	.rate {
		display: block;
        margin: auto;
		//position: absolute;
		//top: 155px;
		//left: 45px;
	}

}

.tblprofile {
    width: 100%;
    td {
        padding-top: 23px;
        border-bottom: 1px solid #c3c3c3;
    }
    td.icon {
        width: 37px;
        text-align: center;
        background-color: #dedede;
    }
    td.lbl {
        padding-left: 7px;
        background-color: #dedede;
        //font-weight: bold;
        width: 200px;
        color: #515151;
    }
    td.tddata {
        padding-left: 13px;
        background-color: #eaeaea;
    }
}

// ============================ background patterns ==============================
.back-pattern-001 {
	background-image: url('/assets/images/background_tile_lab.png');
	background-repeat: repeat;
}

// ============================ grid helpers (debug) =================================
.myRow {border: 0px solid green}
.myCol {border: 0px dashed red}
.myContainer {border: 0px dashed blue}
.myContent {border: 0px dashed #ffa714}



// ============================ chips =================================
.chip {
	display: inline-block;
	height: 32px;
	padding: 0 12px;
	margin-right: 1rem;
	margin-bottom: 1rem;
	font-size: 13px;
	font-weight: 500;
	line-height: 32px;
	color: rgba(0,0,0,0.6);
	cursor: pointer;
	background-color: #c6c6c6;
	border-radius: 16px;
	-webkit-transition: all .3s linear;
	transition: all .3s linear;
	i {
		margin-left: 5px;
	}
}
// ============================ end chips =================================

.filtros {
	ul {
		list-style: none;
		font-size: 14px;
		li {
			margin-left: -20px;
			a, a:visited, a:active {
				color: rgba(0, 0, 0, 0.6);
				text-decoration: none;
			}

			a:hover {
				color: rgba(0, 0, 0, 0.8);
				text-decoration: none;
			}

		}
	}
}

.valor-curso {
	display: list-item;
	color: #e8e8e8;
	background-color: #314861;
	border-radius: 3px;
	padding: 0 10px;
}

.carousel-indicators li {
	box-sizing: content-box;
	flex: 0 1 auto;
	width: 16px;
	height: 16px;
	margin-right: 3px;
	margin-left: 3px;
	text-indent: -999px;
	cursor: pointer;
	background-color: #3b933d;
	border-radius: 50%;
}
.carousel-indicators li.active {
	background-color: #85C03B;
}


// ==================================================================================================================
.fh5co-cta .container {
	position: relative;
	z-index: 2;
}
.sub-footer {
	background-color:#1a242f;
	width:100%;
	padding:14px;
	clear:both;
}
.sub-footer .container p {
	color: #d0d0d0;
	padding: 20px 0 0 0;
	line-height: 1.2em;
	text-align: justify;
	clear: both;
	font-size: 0.8em;
	border-top: 1px solid rgba(255, 255, 255, 0.15);
}

#fh4co-work-section .item-grid {
	width: 100%;
	float: left;
	position: relative;
	background: #fff;
	margin-bottom: 50px;
	-webkit-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.11);
	-moz-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.11);
	box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.11);
	-webkit-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
	top: 2px;
}
#fh4co-work-section .item-grid .image {
	height: 300px;
	overflow: hidden;
	background-size: cover;
	background-position: center center;
}
#fh4co-work-section .item-grid .v-align {
	padding: 25px;
}
#fh4co-work-section .item-grid .v-align h3 {
	font-weight: 700;
	font-size: 20px;
}
#fh4co-work-section .item-grid .v-align h4 {
	font-weight: 400;
	font-size: 18px;
}
#fh4co-work-section .item-grid .v-align h5 {
	font-weight: 400;
	font-size: 14px;
	color: rgb(167, 167, 167);
}
#fh4co-work-section .item-grid:hover, #fh4co-work-section .item-grid:focus {
	text-decoration: none;
	box-shadow: 0 14px 25px -2px rgba(0, 0, 0, 0.14);
	top: -2px;
	cursor: default;
}


#fh5co-footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
	margin-top: 30px;
	padding: 2em 0 0;
	//width: 100%;
	background: #0b1458;
    .tel {
        font-size: 24px;
        font-weight: 600;
        padding-right:0 !important;
        i { margin-right: 10px; }
    }
}
@media screen and (max-width: 768px) {
	#fh5co-footer {
		padding: 3em 0;
	}
}
#fh5co-footer h2, #fh5co-footer h3, #fh5co-footer h4 {
	color: #fff;
}
#fh5co-footer h3 {
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 16px;
	font-weight: bold;
}
#fh5co-footer [class*="col"] {
	padding-bottom: 0px;
}
#fh5co-footer .btn {
	color: #fff;
}
#fh5co-footer .float {
	float: left;
	margin-right: 10%;
}
#fh5co-footer ul {
	padding-left: 0px;
	margin: 0px 0px 0px 0px;
}
#fh5co-footer ul li {
	padding: 0;
	margin: 0 30px 0px 0;
	list-style: none;
}
#fh5co-footer ul li a {
	color: rgba(255, 255, 255, 0.5);
	text-decoration: none !important;
}
#fh5co-footer ul li a:hover {
	color: #fff;
}
#fh5co-footer .fh5co-social li {
	display: inline-block !important;
}

.fh5co-copyright {
	border-top: 1px solid rgba(255, 255, 255, 0.1);
	clear: both;
	margin-top: 40px !important;
	padding: 40px 0 0 0;
}
.fh5co-copyright span {
	display: block;
}
.boton-effect:hover{
    opacity: 0.8;
}

.boton-effect:active {
    position: relative;
    top: 2px;
    left: 2px;
}

.perfil-header {
    background-color: #001e56 !important;

    h4 {
        color: white !important;
        font-weight: 600 !important;
    }
}

:host ::ng-deep ng2-smart-table {
    ::ng-deep thead {
        background-color: #ddd !important;
	}
	::ng-deep .ng2-smart-title {
		text-align: center;
	}
}
.card-body-table {
    padding: 0.25rem !important;
}
.btn-floating-container {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 20;
}

.btn-floating {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.2);
	border: 1px solid rgba(245, 245, 245, 0.075);
	text-align: center;
	font-size: 24px;

	i {
		color: white;
    	padding: 8px;
	}
}
